*.DS_Store
*.csv
*.dat
*.deprecated
*.gz
*.ipr
*.log
*.logs
*.out
*.pid
*.seed
*.stTheme.cache
*.sublime-workspace
*.sw[a-p]
*.tags*
*.tmPreferences.cache
*.tmlanguage.cache

.DS_Store
.DocumentRevisions-V100
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.cache
.com.apple.timemachine.donotpresent
.env
.env.*
.eslintcache
.fseventsd
.gulp-scss-cache
.happypack
.idea
.imdone
.lock-wscript
.node_repl_history
.npm
.sass-cache
.vscode
.yarn-integrity

Desktop.ini
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
modules.xml
package-lock.json
speed-test

npm-debug.log
npm-debug.log*
npm-debug.log.*
yarn-debug.log*
yarn-error.log*

node_modules
Release
_dev
apidoc
bootstrap
bower_components
build
components_bak
coverage
dist
jspm_packages
lib-cov
logs
node_modules
pids
pids
public
publish
reports
results
rev
tmp
